.u-section-1 {
  background-image: url("images/f11de0f4-f885-ea85-b5cd-4a7f2abced16.jpg");
  background-position: 50% 50%;
  min-height: 519px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 519px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 0 48px 35px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "PT Sans", sans-serif;
  margin: 51px -2px 0 3px;
}

.u-section-1 .u-text-2 {
  letter-spacing: normal;
  text-transform: none;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin: 19px -2px 0 3px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 18px 398px 0 3px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 42px auto 0 3px;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 519px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 475px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 73px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 0% 50%;
    min-height: 428px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 535px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 15px;
    margin-left: -15px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 15px;
    margin-left: -15px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 133px;
    margin-left: -15px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 535px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 566px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 60px;
    padding-right: 140px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -65px;
    margin-left: 65px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -65px;
    margin-left: 65px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 53px;
    margin-left: 65px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 65px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 777px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 75px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -32px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -32px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-3 {
    margin-right: -32px;
    margin-left: 33px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 33px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 433px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 999px;
}

.u-section-2 .u-text-1 {
  width: 632px;
  margin: 46px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 31px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 754px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 8px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 63px 723px 0 34px;
}

.u-section-2 .u-text-3 {
  margin: 20px 51px 0 34px;
}

.u-section-2 .u-btn-1 {
  color: rgba(0, 0, 0, 0);
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 51px 0 34px;
}

.u-section-2 .u-text-5 {
  margin: 30px 536px 0 34px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 40px auto 0 34px;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 622px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 557px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 6px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 337px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 18900px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 197px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 2px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 780px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 0 36px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 744px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 723px 0 34px;
}

.u-section-3 .u-text-2 {
  margin: 20px 51px 0 34px;
}

.u-section-3 .u-btn-1 {
  color: rgba(0, 0, 0, 0);
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 51px 0 34px;
}

.u-section-3 .u-text-4 {
  margin: 30px 536px 0 34px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 40px auto 0 34px;
  padding: 10px 52px 10px 51px;
}

.u-section-3 .u-shape-1 {
  width: 142px;
  height: 54px;
  margin: 35px 34px 0 904px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 613px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 557px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 2px;
    margin-right: 0;
    margin-left: 738px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 337px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 150px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 518px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 18900px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 197px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 2px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 178px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 811px;
}

.u-section-4 .u-text-1 {
  margin: 43px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 629px;
}

.u-section-4 .u-container-layout-1 {
  padding: 27px 30px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1px 723px 0 34px;
}

.u-section-4 .u-text-3 {
  margin: 20px 51px 0 34px;
}

.u-section-4 .u-btn-1 {
  color: rgba(0, 0, 0, 0);
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 51px 0 34px;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin: 30px 536px 0 34px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 40px auto 0 34px;
  padding: 10px 52px 10px 51px;
}

.u-section-4 .u-btn-4 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -42px auto 0 295px;
  padding: 7px 85px 9px 84px;
}

.u-section-4 .u-shape-1 {
  width: 142px;
  height: 54px;
  margin: 3px 34px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 557px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-4 {
    letter-spacing: normal;
    margin-top: -73px;
    margin-left: 95px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 337px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 150px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 38px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 197px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 2px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 511px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 509px;
}

.u-section-5 .u-container-layout-1 {
  padding: 27px 30px 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1px 723px 0 34px;
}

.u-section-5 .u-text-2 {
  margin: 20px 51px 0 34px;
}

.u-section-5 .u-btn-1 {
  color: rgba(0, 0, 0, 0);
  font-weight: 700;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 51px 0 34px;
}

.u-section-5 .u-btn-2 {
  padding: 0;
}

.u-section-5 .u-text-4 {
  margin: 30px 536px 0 34px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 40px auto 0 34px;
  padding: 10px 52px 10px 51px;
}

.u-section-5 .u-shape-1 {
  width: 142px;
  height: 54px;
  margin: 0 34px 0 904px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 557px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 2px;
    margin-right: 0;
    margin-left: 738px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 337px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 150px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 518px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 197px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 2px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 178px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 496px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 376px;
}

.u-section-6 .u-container-layout-1 {
  padding: 1px 30px 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1px 723px 0 34px;
}

.u-section-6 .u-text-2 {
  margin: 20px 51px 0 34px;
}

.u-section-6 .u-btn-1 {
  color: rgba(0, 0, 0, 0);
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 51px 0 34px;
}

.u-section-6 .u-btn-2 {
  padding: 0;
}

.u-section-6 .u-text-4 {
  margin: 30px 536px 0 34px;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 40px auto 0 34px;
  padding: 10px 52px 10px 51px;
}

.u-section-6 .u-btn-4 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: -45px auto 0 285px;
  padding: 7px 85px 9px 84px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 557px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-4 {
    margin-top: -73px;
    margin-left: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 337px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 150px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 197px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-top: 2px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 701px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: -41px;
  margin-bottom: 3px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 739px;
}

.u-section-7 .u-container-layout-1 {
  padding: 24px 30px 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 45px 723px 0 34px;
}

.u-section-7 .u-text-2 {
  margin: 20px 51px 0 34px;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  padding: 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 51px 0 34px;
}

.u-section-7 .u-text-4 {
  margin: 30px 536px 0 34px;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 40px auto 0 34px;
  padding: 10px 52px 10px 51px;
}

.u-section-7 .u-shape-1 {
  width: 142px;
  height: 54px;
  margin: 1px 34px 0 904px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 609px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 557px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    color: rgba(0, 0, 0, 0);
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 2px;
    margin-right: 0;
    margin-left: 738px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 337px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 150px;
  }

  .u-section-7 .u-shape-1 {
    margin-left: 518px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 197px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-7 .u-shape-1 {
    margin-left: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 2px;
  }

  .u-section-7 .u-shape-1 {
    margin-left: 178px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 568px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 3px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 526px;
}

.u-section-8 .u-container-layout-1 {
  padding: 27px 30px 0;
}

.u-section-8 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1px 723px 0 34px;
}

.u-section-8 .u-text-2 {
  margin: 20px 51px 0 34px;
}

.u-section-8 .u-btn-1 {
  color: rgba(0, 0, 0, 0);
  font-weight: 700;
  padding: 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 51px 0 34px;
}

.u-section-8 .u-text-4 {
  margin: 30px 536px 0 34px;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 40px auto 0 34px;
  padding: 10px 52px 10px 51px;
}

.u-section-8 .u-shape-1 {
  width: 142px;
  height: 54px;
  margin: 0 34px 0 904px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 557px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-8 .u-shape-1 {
    margin-top: 2px;
    margin-right: 0;
    margin-left: 738px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 337px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 150px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: 518px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 197px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 2px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: 178px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 568px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 3px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 526px;
}

.u-section-9 .u-container-layout-1 {
  padding: 27px 30px 0;
}

.u-section-9 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1px 723px 0 34px;
}

.u-section-9 .u-text-2 {
  margin: 20px 51px 0 34px;
}

.u-section-9 .u-btn-1 {
  color: rgba(0, 0, 0, 0);
  font-weight: 700;
  padding: 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 51px 0 34px;
}

.u-section-9 .u-text-4 {
  margin: 30px 536px 0 34px;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 40px auto 0 34px;
  padding: 10px 52px 10px 51px;
}

.u-section-9 .u-shape-1 {
  width: 142px;
  height: 54px;
  margin: 0 34px 0 auto;
}

.u-section-9 .u-shape-2 {
  width: 165px;
  height: 52px;
  margin: -22px 34px -12px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 557px;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-4 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-9 .u-shape-1 {
    margin-top: 2px;
    margin-right: 0;
    margin-left: 738px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 337px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 150px;
  }

  .u-section-9 .u-shape-1 {
    margin-left: 518px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 197px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-9 .u-shape-1 {
    margin-left: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 2px;
  }

  .u-section-9 .u-shape-1 {
    margin-left: 178px;
  }
}